/vendor/
/node_modules/
/.env
/.env.production
/.phpunit.result.cache
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp
*.swo
